body {
    background-color:gray;
    font-family:serif;
    font: optional: 10px;
}
.Post {
    margin: auto;
    width: 300px;
    height: 420px;
    background:white;
    border-color: black solid 2px;
}
.header {
    display: flex;
    height: 15px;
    justify-content:space-between;
}
.iconocabeza {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    justify-content: flex-start;
}
.setting {
    display:flex;
    width: 15px;
    height: 15px;
    justify-content: flex-end;
}
.imagen{
    display: flex;
    justify-content: left;
}
.left-side-text {
    font-size: 10px;
}
.titulo {
    padding-top: 9px;
    font-weight: bold;
}
.setting {
    width: 23px;
    height: 23px;
    padding: 5px;
}
.feed {
    width: 100%;
    height: 40%;
    padding:30px 0 3px 0px;
}
.like{
    display: flex;
    width: 15px;
    height: 15px;
    padding-left: 7px;
}
.comment {
    display: flex;
    width: 15px;
    height: 15px;
    padding-left: 7px;
}
.compartir {
    display: flex;
    width: 15px;
    height: 15px;
    padding-left: 7px;
    justify-content:;
}
.save {
    display: flex;
    width: 15px;
    height: 15px;
    right: 10%;
    justify-content: flex-end;
    bottom: 0%;
    position: absolute;
}
.botones {
    display: flex;
    position: relative;
    padding-top: 3px;
}
.likes {
    padding-left: 7px;
}
.pie {
    padding-left: 7px;
}
.ubicacion {
    font-size: 5px;
    padding-top: 4px;
}
